* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  padding: 20px 8%;
  background: #020617;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  min-height: 80vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 14px 25px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-size: 16px;
}
